/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
  }

  /* box-sizing */

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
  }

  a {
    text-decoration: none;
    color: var(--color-white);
    align-self: center;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  /* Navbar */

  #navbar {
    display: flex;
    justify-content: space-between;
    background-color: #c2d6b6;
    align-items: center;
    padding: 15px;
  }

  .navbar__name {
    padding: 0px 10px;
  }

  .navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    display: flex;
    align-items: center;
  }

  .navbar__menu {
    display: flex;
    justify-content: space-around;
  }

  .navbar__menu__item {
    padding: 12px 10px;
    margin: 0px 5px;
    list-style-type: none;
    color: var(--color-white);
    cursor: pointer;
    border-radius: var(--size-border-radius);
  }

  .navbar__menu__item.active {
    border: 1px solid var(--color-white);
    border-radius: 4px;
  }

  .navbar__menu__item:hover {
    background-color: #273f63;
  }
  
  .section__container {
    max-width: 1200px;
    margin: auto;
  }

  .section {
    margin: auto;
    text-align: center;
    padding: 50px;
  }

  /* Home */

  #home {
    background: url('imgs/Portfollio\ -\ background.png') center/cover no-repeat;
    text-align: center;
    padding: 30px;
  }

  .home__description {
    margin: 20px 0px;
  }

  .home__title, .home__description {
    color: var(--color-dark-white);
  }

  .home__contact {
    margin: 10px 0px;
    padding: 6px 6px;
    font-size: var(--font-regular);
    background-color: transparent;
    color: var(--color-dark-white);
    border: var(--color-dark-white) solid 3px;
    border-radius: var(--size-border-radius);
    font-weight: var(--weight-bold);
  }

  .home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: var(--color-white) solid 2px;
  }

  /* About */

  #about {
    margin: 0 30px;
    margin: auto;
  }

  .about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
  }

  .about__icon:hover i {
    color: #273f63;
    transform: rotate(30deg) scale(1.2);
    transition: all var(--animation-duration) ease;
  }

  .about__icon {
    width: 170px;
    height: 170px;
    font-size: 100px;
    line-height: 170px;
    border: var(--color-blue) solid 2px;
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-blue);
  }

  .about__skills__title, .about__skills__description {
    color: var(--color-grey);
  }

  .about__skills__description {
    font-size: var(--font-small);
  }

  .about__description {
    padding: 24px 12px;
    max-width: 1200px;
    margin: auto;
  }

  .career {
    display: flex;
    align-items: center;
  }

  .career__logo {
    width: 90px;
    height: 90px;
    padding: 8px;
  }

  .career__name {
    font-size: var(--font-small);
  }

  .career__period {
    font-size: var(--font-micro);
  }

  .career__description {
    padding: 0 20px;
    text-align: left;
    color: var(--color-light-grey);
  }

  /* Skill */

  #skills {
    background-color: var(--color-yellow);
  }

  .skillset {
    display: flex;
    color: var(--color-light-white);
    background-color: var(--color-light-grey);
    margin: 20px 0;
  }
  
  .skillset__title {
    color: var(--color-light-white);
  }

  .skill__description {
    display: flex;
    justify-content: space-between;
  }

  .skillset__left {
    background-color: var(--color-dark-grey);
    flex-basis: 60%;
    padding: 20px 40px;
  }

  .skill__bar {
    flex-basis: 100%;
    height: 3px;
    background-color: var(--color-light-grey);
  }

  .skill__value {
    background-color: var(--color-orange);
    height: 3px;
 }

  .skill {
    margin-bottom: 32px; 
 }

  .skillset__right {
    flex-basis: 40%;
  }

  .tools {
    background-color: var(--color-grey);
  }

  .tools, .etc {
    padding: 20px;
  }

  /* Work */

  .category__btn {
    border: var(--color-light-grey) solid 1px;
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
  }

  .work__categories {
    margin: 40px;
  }

  .category__btn.active,
  .category__btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  .category__btn.active .categories__count,
  .category__btn:hover .categories__count {
    opacity: 1;
    top: 0px;
  }

  .categories__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    line-height: 24px;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
  }

  .project {
    background-color: var(--color-light-white);
    width: 280px;
    height: 250px;
    margin: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project__img {
    max-width: 100%;
    max-height: 100%;
  }

  .project__description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: all var(--animation-duration) ease-in;
  }

  .project:hover .project__description{
    opacity: 0.7;
    transform: translateY(0);
  }
  
  .project__description h3 {
    color: var(--color-white);
  }

  .work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Testimonials */

  #testimonials {
    background-color: var(--color-light-white);
  }

  .testimonial__box {
    display: flex;
    margin: 32px 0;
  }

  .speech__bubble {
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
    padding: 20px;
  }

  .testimonial__avatar {
    width: 150px;
    height: 150px;
    min-width: 150px;
    border-radius: 50%;
    margin-right: 40px;
  }

  .bubble__name {
    color: #c2d6b6;
  }

  .avatar2 {
    margin-left: 40px;
  }

  .box2 {
    flex-direction: row-reverse;
  }